@charset "utf-8";

/*reset css */
*{
  margin: 0;
  padding: 0;
}

/* main */
body{
  background-color: lightgrey;
  margin: 5px;
}

/* text-shadow */
#text-shadow{
  padding: 0 40px; /*左右に間隔をつける*/
  font-size: 30px; /*文字大きく*/
}
.drop_shadow{text-shadow:  2px  2px  3px gray;}

/* box-shadow */
#box-shadow{
  font-size: 30px; /*文字を大きくする*/
}
.box-drop_shadow{box-shadow:  2px  2px  5px gray;
                 padding   :  5px;
                 margin    : 20px;}
